/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */







/* ------ BASE STYLES ------*/

.content-wrapper {
  /* Measurement taken from design comp files */
  max-width: 1200px;
  width: 90%;
}

/* ------ BASE HEADER & FOOTER STYLES ------*/

/* Turn on flexbox for header, footer and their content wrappers */
header,
footer,
header .content-wrapper,
footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
header {
  padding: 15px 0;
}
.header-divider {
  width: 100%;
  height: 1px;
  background: grey;
  margin: 10px 0 20px 0;
}
header nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* Remove browser default styling */
  padding-inline-start: 0px;
  margin: 0;
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
}
.footer-content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 55%;
  margin: 50px 0;
}
footer .contact {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
footer .social {
  width: 100%;
  text-align: center;
}
footer p {
  margin: 0;
}
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .copyright {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

/* -----------------MOBILE FIRST STYLES - HOMEPAGE--------------------- */

/* Hero Area ------- */

.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.hero-area h1 {
  margin: 50px 15px 330px 0;
}

/* Newsletter Aside ------ */

aside,
aside .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.form {
  width: 100%;
}
aside h3 {
  margin: 0;
}

/* Features Area ------- */

.features {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.features h2 {
  margin: 0;
}
.feature-items {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.features article {
  width: 55%;
  text-align: center;
  margin-top: 50px;
}
/* remove default padding from p tag */
.features p {
  margin: 0;
}

/* Reviews section -------- */

.reviews {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.reviews article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.reviews h2 {
  margin-bottom: 25px;
}
.reviews h3 {
  width: 80%;
  margin: 20px 0;
}


/* -----------------MOBILE FIRST STYLES - ABOUT PAGE--------------------- */

/* Set up flexbox for About page sections and divs */
/* Reminder - flexbox on the section to sit the content-wrapper (90%) in the center of the page */
.mission,
.mission-content,
.map,
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.mission {
  padding: 50px 0;
}
.mission h2 {
  margin: 0;
}
.mission p {
  margin: 15px 0 0 0;
}
.map {
  margin: 0;
}
.contact-section {
  padding: 50px 0;
}
.contact-section p {
  margin: 0;
}



/* -----------------MOBILE FIRST STYLES - FAQ PAGE--------------------- */

/* Set up flexbox for the FAQ section */
.faq,
.faq .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.faq .content-wrapper {
  margin: 50px;
}
.faq h2 {
  width: 100%;
}
.faq-item {
  width: 100%;
  margin-top: 50px;
}
.faq-item h4 {
  margin: 0 0 15px 0;
}
.faq-item p {
  margin: 0;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}






/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media only screen and (min-width: 768px) {

  /* HOMEPAGE TABLET STYLES -------------- */

  /* Tablet - Header styling ---- */
  header .content-wrapper {
    justify-content: space-between;
  }
  .header-divider {
    width: 0%;
  }
  header nav {
    width: 20%;
  }
  header nav ul {
    justify-content: space-between;
  }

  /* Tablet - Newsletter Aside ---- */
  aside .content-wrapper {
    justify-content: space-between;
  }
  .form,
  .form-description {
    flex-basis: 45%;
  }

  /* Tablet - Features Area ---- */
  .feature-items {
    justify-content: space-around;
    padding: 100px 0;
  }
  .features article {
    flex-basis: 30%;
    margin: 50px;
  }

  /* Tablet - Reviews section ---- */
  .reviews {
    padding: 100px 0;
  }
  .reviews h2 {
    width: 75%;
  }
  .reviews img {
    width: 48%;
  }
  .reviews article {
    justify-content: space-between;
  }
  .reviews article div {
    width: 48%;
  }

  /* Tablet - Footer section ----- */
  .footer-content {
    justify-content: space-around;
  }
  .footer-content {
    margin: 100px 0;
    width: 80%;
  }
  footer .contact,
  footer .social {
    width: 30%;
  }

  /* ------- ABOUT PAGE TABLET STYLES -------------- */

  .content-wrapper {
    width: 85%;
  }

  /* Tablet - Mission section -------- */
  .mission-content {
    justify-content: space-between;
  }
  .mission-content p {
    width: 45%;
  }

  /* Tablet - Contact section ------ */
  .contact-section .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .contact-section h2 {
    width: 80%;
  }
  .contact-section .contact-box {
    width: 45%;
  }

  /* FAQ PAGE TABLET STYLES -------------- */

  .faq .content-wrapper {
    justify-content: space-between;
  }
  .faq h2 {
    width: 80%;
  }
  .faq-item {
    width: 45%;
  }

} /* End of Media Query for Tablet layout */



@media only screen and (min-width: 1200px) {

  /* HOMEPAGE DESKTOP STYLES -------------- */

  /* Desktop - Newsletter Aside ---- */
  aside .content-wrapper {
    justify-content: space-around;
  }
  .form,
  .form-description {
    flex-basis: 35%;
  }

  /* Desktop - Features Area ---- */
  .feature-items {
    justify-content: space-around;
  }
  .features article {
    flex-basis: 20%;
  }

  /* Desktop - Reviews section ---- */
  .reviews article {
    justify-content: space-between;
  }

  /* Tablet - Footer section ----- */
  .footer-content {
    justify-content: space-between;
  }
  .footer-content {
    width: 90%;
  }
  footer .contact,
  footer .social {
    width: 25%;
  }

  /* ABOUT PAGE DESKTOP STYLES -------------- */


  /* FAQ PAGE DESKTOP STYLES -------------- */




}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
